<!DOCTYPE html>
<html>

<head>
  <title>Inventory</title>

  <style>
    table {
      border-collapse: collapse
    }

    th,
    td {
      border: 1px solid #eeeeee;
      padding: 10px;
      text-align: left
    }

    th {
      background-color: #eeeeee;
    }
  </style>
</head>



<body>
  <h1>Inventory</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Status</th>
    </tr>

    <% tasks.forEach( item=> { %>
      <tr>
        <td style="width: 1px; white-space: nowrap">
          <%= item.id %>
        </td>

        <td style="width: 200px; white-space: nowrap">
          <%= item.emp_id %>
        </td>

        <td style="width: 200px; white-space: nowrap">
          <%= item.task %>
        </td>

        <td>
          <button>Edit</button>
          <button>Delete</button>
        </td>
      </tr>
      <% }) %>
  </table>

  <script>

  </script>
</body>

</html>