<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <h1 style="font-size: 26px;">Login</h1>

    <form id="login" autocomplete="off">
        <label style="font-size: 20px;">Username</label><br>
        <input type="text" name="username" required style="width: 360px; padding: 8px; margin-bottom: 20px;">
        <br>

        <label style="font-size: 20px;">Password</label><br>
        <input type="password" name="password" required style="width: 360px; padding: 8px; margin-bottom: 20px;">
        <br>

        <button type="submit">Login</button>
    </form>

    <div id="errorMsg" style="color: red; margin-top: 20px;"></div>

</body>

<script>
    document.getElementById('login').onsubmit = async e => {
        e.preventDefault()

        const username = e.target.username.value
        const password = e.target.password.value

        const response = await fetch('http://localhost:3000/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ username, password })
        })

        const data = await response.json()

        if (!response.ok || !data.token) {
            document.getElementById('errorMsg').textContent = data.error
            return
        }

        document.cookie = `token=${data.token}; path=/; max-age=3600`
        window.location.href = '/order'
    }
</script>

</html>